type vendor_sysfs_graphics, sysfs_type, fs_type;
type sysfs_usb_supply, sysfs_type, fs_type;

#allow system_app vibrator_sysfs:file rw_file_perms;
allow system_app proc_touchpanel:dir { search };
allow system_app proc_touchpanel:file rw_file_perms;
r_dir_file(system_app, proc_touchpanel);
#r_dir_file(system_app, vibrator_sysfs);

# RealmeHub
allow system_app vendor_sysfs_graphics:file { getattr open read };

# FPS Info
allow system_app sysfs:file { getattr open read };

# OTG Tile
allow system_app sysfs_usb_supply:file { write };

# CABC Mode
allow system_app default_prop:property_service set;

# Allow theme_prop to be read and set by Settings
get_prop(system_app, theme_prop)
set_prop(system_app, theme_prop)


